body{
    background-color: rgb(164, 210, 248);
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

span{
    color:red;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    text-indent: 40px;
}

p span{
    color:orangered;
    
}

p label{
    background-color: whitesmoke;
    color:yellowgreen;
    font-style: italic;
}