body{
    background-color: rgb(126, 216, 186);
}


/* Selector de id */
#title{  
    color: peru;
    text-align: center;
}


/* Selector de etiqueta */
h1{
    color: rgb(36, 23, 221);
    text-align: center;
}

p{
    color:brown;
}


/* Selector de clase */
.p-large{
    font-size: 32px;
}

.p-green{
    color: darkorchid;
    background:darksalmon;
   
}

